@use '~@angular/material' as mat;

$crx-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$crx-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$crx-black-warn: mat.define-palette(mat.$red-palette, 500);

$crx-black-theme: mat.define-dark-theme(
  $crx-black-primary,
  $crx-black-accent,
  $crx-black-warn
);
