@use '@angular/material' as mat;

$crx-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$crx-accent: mat.define-palette(mat.$light-blue-palette);
$crx-warn: mat.define-palette(mat.$pink-palette, 600);

$crx-theme: mat.define-light-theme($crx-primary, $crx-accent, $crx-warn);
