@use '@angular/material' as mat;

$crx-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$crx-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$crx-nature-warn: mat.define-palette(mat.$red-palette, 600);

$crx-nature-theme: mat.define-light-theme(
  $crx-nature-primary,
  $crx-nature-accent,
  $crx-nature-warn
);
